
html,body{
    background-color: white;
    color: rgb(12, 3, 48);
}
p{
    font-size: 18px !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
}
h1{
    font-family: 'Berkshire Swash', cursive;
}
h2,h3,h4,h5,h6{
    font-family: 'Bitter', serif;
    /* font-family: 'Berkshire Swash', cursive; */
}
.navbar{
    z-index: 9999;
}
/* down-arrow */
.down-arrow{
    /* Enabled for white mode */
    border-radius: 50%;
    background-color: black;
    padding-top: 10px;
/* till here */
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0px;
    left: 50%;
    z-index: 50;
    animation: down-button 2s linear infinite ;
}
@keyframes down-button{
    50%{ 
        transform: translateY(10px);
    }    
} 
/* End of down-arrow */

.main-container{
    padding:0 !important;
}
.color-dark{
    color: #001E29;
    display: inline-block;
}
.hero-col{
    pointer-events: none;
}
.particles-js{
    position: absolute;
    right: 0px;
    bottom: 0px;
    top:0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}
.blob{
    /* position: relative; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;    
}
.svg-text{    
    font-size: 7vw;
    font-weight: 700;
    /* font-family: monospace; */
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    left: 50%;
    bottom:50%;
    transform: translate(-50%,50%);
    /* mix-blend-mode: difference;    Disabled just for white mode */
}
.content-discription-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}












/* Mind Mastery Section   */

.main-slanted-div{    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
    z-index: 1;
    position: relative;
    overflow: hidden;
    
}
.wave{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    z-index: -1;
}

.mind-mastery-color{    
    font-family: 'Cinzel Decorative', cursive;
    z-index: 0;
}
.main-slanted-div::before{
    position: absolute;;
    background: linear-gradient(105deg,rgba(10, 255, 120,0.5),rgba(255, 255, 255,0.5));
    width: 100%;
    height: 100%;
    content: "";
    top:0px;
    bottom:0px;
    right: 0px;
    left: 0px;
    z-index: -1;
}

.mind-mastery-color::after{
    /* background:  url(../media/treeDoodlebear.png) no-repeat 70% bottom; */
    background: url(../media/squiggles\ sprat.png);
    background-size: 10cm;
    position: absolute;;
    width: 100%;
    height: 100%;
    content: "";
    top:0px;
    bottom:0px;
    right: 0px;
    left: 0px;
    /* -webkit-animation: bg-walk 100s infinite 0s forwards linear ;
    -moz-animation: bg-walk 100s infinite 0s forwards linear ;
    animation: bg-walk 100s infinite 0s forwards linear ; */
    z-index: -10;    
}


@-moz-keyframes bg-walk {
    0%{margin-left: 0px; }
    100%{ margin-left: -1000px;}
}
@-webkit-keyframes bg-walk {
    0%{margin-left: 0px;}
    100%{margin-left: -1000px;}
}
@keyframes bg-walk {
    0%{margin-left: 0px;}
    100%{margin-left: -1000px;}
}

.mm-content-container{
    
    background: linear-gradient(-45deg,rgba(74, 209, 40,.5),rgba(255,255,255,.4)),url(/Aprendoor/media/squiggles\ yellow-ribbon.png) left bottom  no-repeat,url(/Aprendoor/media/miroodles\ cloud-melon.png) right top no-repeat,url(/Aprendoor/media/squiggles\ sprat.png) center center no-repeat,url(/Aprendoor/media/treeDoodlebird.png) bottom right no-repeat,url(/Aprendoor/media/squiggles.png) top left no-repeat;
    background-attachment: fixed;
    background-size: cover,20vw,20vw,20vw,20vw,20vw;
    z-index: -1;    
}

.card-category{
    margin-bottom: 50px;
    border-radius: 2%;
    box-shadow: 0 0 5px 0px #a9aca9;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-category:hover{
    box-shadow: 0 0 2px 1px rgb(74, 209, 40) inset;
}
.card{
    margin-bottom: 50px;
    border-radius: 2%;
    box-shadow: 0 0 5px 0px #a9aca9;
}

.divider-mid{
    position: relative;
    background-color: hotpink;
    width: 300px;
    height: 2px;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}
/* End of Mind mastery section */



.card-category-flat{
    display: block;
    float: right;
}
